{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log in{% endblock title %}
{% block content %}


  <div>
    <form action="" method="POST">
      {{ form|crispy }}
      {% csrf_token %}

      <p><label>Username:
        <input type="text" name="username" placeholder="Username">
      </label>
      </p>

      <p><label>Password:
        <input type="password" name="password" placeholder="Password">
      </label>
      </p>

      <button class="btn btn-success ml-2" type="submit">Log In</button>

    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  </div>
  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}


{% endblock content %}